# Week 2 - Monday Lesson (variable assignment, loops, lists)

# Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6

print(number)

6

##### Assinging float

In [5]:
num_float=6.0

print(num_float)

6.0

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1=10
num2=5

result=num1+num2
print(result)

result += 2
print(result)

15
17

##### Subtraction

In [7]:
result_diff= num1-num2
print(result_diff)

result_diff -=5
print(result_diff)

5
0

##### Multiplication

In [8]:
multi_result = num1*num2
print(multi_result)

multi_result *= 2
print (multi_result)

50
100

##### Division

In [9]:
div_result = num1/num2
print(div_result)

div_result /= 2
print(div_result)

2.0
1.0

##### Floor Division

In [10]:
floor= num1 // num2
print(floor)

floor //= 2
print(floor)

2
1

##### Modulo

In [11]:
mod_result = num1 % num2
print(mod_result)

mod_result %= 1
print(mod_result)

0
0

##### Exponential

In [12]:
expo= num1 ** num2
print (expo)

expo **= 2
print(expo)

100000
10000000000

### String Input-Output

##### String Assignment

In [13]:
name = 'liz'
print (name)

liz

##### print() <br>
<p>Don't forget about end=' '</p>

In [15]:
print ('This is my first name: ',name)

print('Full name: ',name, end=' francese')

This is my first name:  liz
Full name:  liz francese

##### String Concatenation

In [16]:
first_name = 'griffin'
last_name = 'buell'

full_name= first_name + ' ' + last_name
print(full_name)

griffin buell

##### Type Conversion

In [20]:
number = '32'
type_number = int(number)
type_number += 5
print(type_number)

37

##### input()

In [26]:
#input will always return a string

# name = input('What is your name? ')
# print(name)

age = int(input('How old are you? '))
# new_age = int(age) +1

print(age)

How old are you? 32
32

##### format()

In [30]:
age = 32
new_age = str(age)
name= 'Liz'

result_string = 'You are {}, you are {} years old and you are only getting cooler!'.format(age,name)

print(result_string)

new_result = f'{age} is a great time in life!'
print(new_result)

You are 32, you are Liz years old and you are only getting cooler!
32 is a great time in life!

##### Old Way (python 2)

In [ ]:
result_string2 = 'You are

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [8]:
name = input('What is your name? ')
make = input('Please tell me about your car. ' +
             'Make: ')
model = input('Model: ')
year= input('Year: ')
color= input ('Color: ')

response = 'Thank you, {}. I see that you have a {}, {}, {}, {}.'.format(name.title(), year, color, make.title(), model.title())

print (response)

age = 2023 - int(year)

new_response = f'Thank you, {name.title()}. I see that you have a {age} year old, {color}, {make}, {model}.'

print(new_response)

What is your name? liz
Please tell me about your car. Make: subaru
Model: impreza
Year: 2013
Color: silver
Thank you, Liz. I see that you have a silver, 2013, Subaru, Impreza.
Thank you, Liz. I see that you have a 10 year old, silver, subaru, impreza.

### If Statements

In [14]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 5
num2 = 10

if num1 == num2:
    print('Equal values')
else:
    print('Not equal')
    
if num2 > num1:
    print ('Second number is greater than numbre 1')
elif num1 > num2:
    print ('number 2 is greater')
else:
    print('they must be equal')

Not equal
Second number is greater than numbre 1

##### 'is' keyword

In [ ]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

if num3 is 55:
    print("This is the exact number/object")

##### 'in' keyword

In [17]:
char_name = 'bugs bunny'

if 'bugs' in char_name:
    print ('hey, doc')

hey, doc

##### 'not in' keyword'

In [16]:
char_name = 'bugs bunny'

if 'lola' not in char_name:
    print ('stupid wabbit')

stupid wabbit

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [21]:
name = input('What is your name? ')

if 'p' in name:
    print('You got p in you!')
else: 
    print('You have no p in you, go drink water?')

What is your name? Liz Francese
You have no p, go drink water?

## Using 'and'/'or' with If Statements

In [27]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = 'Marge'
age = 12

if first_name == 'Marge' and age == 11:
    print ('Marge is 12')
elif first_name == 'Marge' or age == 11:
    print('That cat is either Marge or its a 12')

That cat is either Marge or its a 12

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [34]:
#for item in iterable_thing:
    #do some stuff

name = 'Liz Francese'

for letter in range(len(name)): 
    print(name[letter])

L
i
z

F
r
a
n
c
e
s
e

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [35]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [36]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [2]:
for x in range (5):
    for y in range (7):
        print ('x = ', x, 'y = ', y)

x =  0 y =  0
x =  0 y =  1
x =  0 y =  2
x =  0 y =  3
x =  0 y =  4
x =  0 y =  5
x =  0 y =  6
x =  1 y =  0
x =  1 y =  1
x =  1 y =  2
x =  1 y =  3
x =  1 y =  4
x =  1 y =  5
x =  1 y =  6
x =  2 y =  0
x =  2 y =  1
x =  2 y =  2
x =  2 y =  3
x =  2 y =  4
x =  2 y =  5
x =  2 y =  6
x =  3 y =  0
x =  3 y =  1
x =  3 y =  2
x =  3 y =  3
x =  3 y =  4
x =  3 y =  5
x =  3 y =  6
x =  4 y =  0
x =  4 y =  1
x =  4 y =  2
x =  4 y =  3
x =  4 y =  4
x =  4 y =  5
x =  4 y =  6

### While Loops

In [42]:
# while keyword, condition statement
# based on the conditional Statement


num = 0
while num < 10:
    print(num)
    num += 1

# while True:
#     if num >= 10:
#         break
#     num += 1
#     print(num)

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [3]:
game_running = True #this is a flag
score= 0

while game_running:
    user_input = input ('Say something: ')
    if user_input == 'quit':
        game_running = False
    print (user_input)
    score += 1
    print (f"Score: {score}")

Say something: toot
toot
Score: 1
Say something: boo
boo
Score: 2
Say something: quit
quit
Score: 3

##### While & For Loops Used Together

In [43]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        #for each while loop, for loop will run twice
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [44]:
for i in range(2,20,3):
    print (i)

2
5
8
11
14
17

##### len()

In [46]:
name = 'liz'

print(len(name))

3

##### help()

In [51]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

##### isinstance()

In [ ]:
print(isinstance(4.5,int))
if isinstance(4.5, float):
    print('You float!')

##### abs()

In [2]:
print(abs(-51))

51

### Try and Except

In [4]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 4
    input_num = int(input('Guess a Number '))
    if input_num != number_test:
        print("Sorry, I was not thinking of the number " + str(input_num))
    else: 
        print ('You guessed my number!')
except: #could add another code block here
    print('That did not work ---- ERROR: Change your input to a number')

Guess a Number seven
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [6]:
my_fruit = ['apple','banana','kiwi','pineapple']
print(my_fruit)

['apple', 'banana', 'kiwi', 'pineapple']

##### Indexing a List

In [8]:
# [start: stop: step] -- [-1]

#Single Index
print(my_fruit[0])

# Print starting at index 1 going to the end
print(my_fruit[1:])
print(my_fruit[-1])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(my_fruit[:2])

# print starting at index 1 going up BY 2 in each iteration
print(my_fruit[1::2])

# print starting at the back and present in reverse order
print(my_fruit[::-1])

apple
['banana', 'kiwi', 'pineapple']
pineapple
['apple', 'banana']
['banana', 'pineapple']
['pineapple', 'kiwi', 'banana', 'apple']

##### .append()

In [10]:
my_fruit.append('mango')
print(my_fruit)

['apple', 'banana', 'kiwi', 'pineapple', 'mango', 'mango']

##### .insert()

In [11]:
my_fruit.insert(2,'cherry')
print (my_fruit)

['apple', 'banana', 'cherry', 'kiwi', 'pineapple', 'mango', 'mango']

##### .pop()

In [5]:
cancelled_fruits = fruit.pop()
print (cancelled_fruits)

print(fruit.pop(3))

mango
kiwi


##### .remove()

In [13]:
# value to be removed , not index
# fruit.remove('banana')
# print(fruit)
while 'mango' in my_fruit:
    my_fruit.remove('mango')
print(my_fruit)

['apple', 'banana', 'cherry', 'kiwi', 'pineapple']

##### del()

In [14]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del(my_fruit[0])
print(my_fruit)

['banana', 'cherry', 'kiwi', 'pineapple']

##### Concatenating Two Lists

In [15]:
# will append two lists together, not add up the elements in each list
my_fruit = ['apple', 'banana', 'cherry', 'cherry', 'kiwi', 'pineapple', 'mango']
my_vegetables = ['tomato','green pepper','cucumber','lettuce']

my_buffet= my_fruit + my_vegetables

print(my_buffet)

['apple', 'banana', 'cherry', 'cherry', 'kiwi', 'pineapple', 'mango', 'tomato', 'green pepper', 'cucumber', 'lettuce']

##### Lists Within Lists

In [16]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

food_types = ['fruit',['apple', 'banana', 'cherry', 'cherry', 'kiwi', 'pineapple', 'mango'],
         'vegetables',['tomato','green pepper','cucumber','lettuce']]

#fruit is index 0, fruit list is index 2, vegetable is index 3, veg list is index 4
print(food_types)
print(food_types[3][3])

['fruit', ['apple', 'banana', 'cherry', 'cherry', 'kiwi', 'pineapple', 'mango'], 'vegetables', ['tomato', 'green pepper', 'cucumber', 'lettuce']]
lettuce

##### Looping Through Lists

In [9]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

#by index
for i in range(len(buffet)):
    print(buffet[i])
    
#using in
for i in buffet:
    print(i)

apple
banana
cherry
cherry
kiwi
pineapple
mango
tomato
green pepper
cucumber
lettuce
apple
banana
cherry
cherry
kiwi
pineapple
mango
tomato
green pepper
cucumber
lettuce

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [40]:
list_num =[]
i = 1
x = 1

while x < 1000:
    x = i**3
    list_num.append(x)
    i += 1
    

print(list_num)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [100]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime = []

for num in range(2, 101):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        prime.append(num)
        
print(prime)

#else on same line as for, so thtat if runs through all numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [105]:
age = int(input ('How old are you? '))

if age < 18:
    print('kids')
elif age >= 18 and age <= 65:
    print ('adults')
else:
    print ('seniors')

How old are you? 95
seniors